* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(./img/image-3.png);
  background-size: cover;
  animation: scroll-bg 10s linear infinite;
}
/* @keyframes scroll-bg {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 -100%;
    }
} */

ul {
  font-weight: bold;
  display: flex;
}

ul:hover {
  color: rgb(246, 246, 3);
}

.hero {
  opacity: 0.5;
}

.hero p {
  font-weight: 500;
  word-wrap: break-word;
  max-width: 40%;
  color: rgb(0, 0, 0);
}

/* #getInspired .card img{
    object-fit: cover;
    object-position: 50% 50%;
    height: 200px;
} */

h3 {
  color: rgb(252, 252, 252);
  font-weight: 700;
}

.recipeGen {
  display: flex;
  justify-content: center;
}

.hide {
  display: none !important;
}

#logo {
  display: flex-end;
  flex-direction: row;
  padding: 25px;
  color: Grey;
  font-size: large;
}

.nav.justify-content-center {
  display: flex;
  flex-direction: row;
  float: right;
  margin: -70px 10%;
  justify-content: space-between;
}




.SearchContainer {
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    max-width: 250px;
    max-height: 250px;
    display: inline-block;
    align-content: center;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    
}


.card-body {
    text-align: center;
    font-size: small;
}

<<<<<<< HEAD
=======
/* .SearchContainer{

  object-fit:cover;
  object-position: 50% 50%;
  height: 280px;
} */

/* footer */

.text-white {
  color: white !important;
}
>>>>>>> 6527957790bb0a930d317ff36c77c8576f8bd272
